<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        * {
            margin: 0;
            padding: 0;
            background-color: #ECECEC;
        }

        #all {
            width: 1170px;
            height: 55px;
            line-height: 55px;
            margin: 58px auto 0 35px;

            border: 1px solid #ECECEC;

        }

        #all p {
            font-size: 25px;
            font-family: "Arial Black", serif;
            background-color: #F2DEDE;
        }
    </style>
</head>
<body>
<div id="all">
    <p>该功能尚未开放，请等待...</p>
</div>
</body>
</html>
