<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title>主界面</title>
    <style>
        a > li > span {
            color: white;
        }
    </style>
</head>

<body>
<!--整体部分-->
<div id="all">
    <!--上部分-->
    <div id="top">
        <div id="top1">
            <span>商品管理系统</span>
        </div>
        <div id="top2"></div>
        <div id="top3">
            <span>欢迎您，<!--/*@thymesVar id="name" type="com.gnaixeuy.monkeyMi.pojo.Admin"*/-->
            <span th:text="${session.admin.getaName()}">nil</span>
            </span>
        </div>
    </div>
    <!--下部分-->
    <div id="bottom">
        <!--下部分左边-->
        <div id="bleft">
            <div id="ltop">
                <div id="lts">
                    <img th:src="@{/images/logo.jpg}" alt="logo" src="#"/><br/>
                    <p style="text-align: center;" th:text="${session.admin.getaName()}">nil</p>
                </div>
            </div>
            <div id="lbottom">
                <ul>
                    <li class="two">
<!--                        <a href="#" th:href="@{/prod/split.action}" target="myRight">-->
                            <a href="#" th:href="@{/prod/getAll}" target="myRight">
                            <span class="glyphicon glyphicon-book"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;商品管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </li>
                    <li class="one">
                        <a href="#" th:href="@{/error.html}" target="myRight">
                            <span class="glyphicon glyphicon-sort"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;订单管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </li>
                    <li class="one">
                        <a href="#" th:href="@{/error.html}" target="myRight">
                            <span class="glyphicon glyphicon-user"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;用户管理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </li>
                    <li class="one">
                        <a href="#" th:href="@{/error.html}" target="myRight">
                            <span class="glyphicon glyphicon-bullhorn"></span>
                            &nbsp;&nbsp;&nbsp;&nbsp;通知公告&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="bright">
            <iframe frameborder="0" scrolling="yes" name="myRight" width="1322px" height="700px"></iframe>
        </div>
    </div>
</div>
</body>

</html>