<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gnaixeuy.monkeyMi.mapper.AdminMapper">
    <resultMap id="BaseResultMap" type="com.gnaixeuy.monkeyMi.pojo.Admin">
        <id column="a_id" jdbcType="INTEGER" property="aId" />
        <result column="a_name" jdbcType="VARCHAR" property="aName" />
        <result column="a_pass" jdbcType="VARCHAR" property="aPass" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        a_id, a_name, a_pass
    </sql>
    <select id="selectByExample" parameterType="com.gnaixeuy.monkeyMi.pojo.AdminExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from xiaomissm.admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from xiaomissm.admin
        where a_id = #{aId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from admin
        where a_id = #{aId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.gnaixeuy.monkeyMi.pojo.AdminExample">
        delete from admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.gnaixeuy.monkeyMi.pojo.Admin">
        insert into admin (a_id, a_name, a_pass
        )
        values (#{aId,jdbcType=INTEGER}, #{aName,jdbcType=VARCHAR}, #{aPass,jdbcType=VARCHAR}
               )
    </insert>
    <insert id="insertSelective" parameterType="com.gnaixeuy.monkeyMi.pojo.Admin">
        insert into admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aId != null">
                a_id,
            </if>
            <if test="aName != null">
                a_name,
            </if>
            <if test="aPass != null">
                a_pass,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aId != null">
                #{aId,jdbcType=INTEGER},
            </if>
            <if test="aName != null">
                #{aName,jdbcType=VARCHAR},
            </if>
            <if test="aPass != null">
                #{aPass,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.gnaixeuy.monkeyMi.pojo.AdminExample" resultType="java.lang.Integer">
        select count(*) from xiaomissm.admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update admin
        <set>
            <if test="record.aId != null">
                a_id = #{record.aId,jdbcType=INTEGER},
            </if>
            <if test="record.aName != null">
                a_name = #{record.aName,jdbcType=VARCHAR},
            </if>
            <if test="record.aPass != null">
                a_pass = #{record.aPass,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update admin
        set a_id = #{record.aId,jdbcType=INTEGER},
        a_name = #{record.aName,jdbcType=VARCHAR},
        a_pass = #{record.aPass,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.gnaixeuy.monkeyMi.pojo.Admin">
        update admin
        <set>
            <if test="aName != null">
                a_name = #{aName,jdbcType=VARCHAR},
            </if>
            <if test="aPass != null">
                a_pass = #{aPass,jdbcType=VARCHAR},
            </if>
        </set>
        where a_id = #{aId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.gnaixeuy.monkeyMi.pojo.Admin">
        update admin
        set a_name = #{aName,jdbcType=VARCHAR},
            a_pass = #{aPass,jdbcType=VARCHAR}
        where a_id = #{aId,jdbcType=INTEGER}
    </update>
    <resultMap id="BaseResultMap" type="com.gnaixeuy.monkeyMi.pojo.Admin">
        <result column="id" jdbcType="VARCHAR" property="id" />
        <result column="admin_name" jdbcType="VARCHAR" property="adminName" />
        <result column="admin_password" jdbcType="VARCHAR" property="adminPassword" />
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id, admin_name, admin_password
    </sql>
    <select id="selectByExample" parameterType="com.gnaixeuy.monkeyMi.pojo.AdminExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from xiaomissm.admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <delete id="deleteByExample" parameterType="com.gnaixeuy.monkeyMi.pojo.AdminExample">
        delete from admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </delete>
    <insert id="insert" parameterType="com.gnaixeuy.monkeyMi.pojo.Admin">
        insert into admin (id, admin_name, admin_password
        )
        values (#{id,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR}, #{adminPassword,jdbcType=VARCHAR}
               )
    </insert>
    <insert id="insertSelective" parameterType="com.gnaixeuy.monkeyMi.pojo.Admin">
        insert into admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="adminName != null">
                admin_name,
            </if>
            <if test="adminPassword != null">
                admin_password,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="adminName != null">
                #{adminName,jdbcType=VARCHAR},
            </if>
            <if test="adminPassword != null">
                #{adminPassword,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.gnaixeuy.monkeyMi.pojo.AdminExample" resultType="java.lang.Integer">
        select count(*) from xiaomissm.admin
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update admin
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=VARCHAR},
            </if>
            <if test="record.adminName != null">
                admin_name = #{record.adminName,jdbcType=VARCHAR},
            </if>
            <if test="record.adminPassword != null">
                admin_password = #{record.adminPassword,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update admin
        set id = #{record.id,jdbcType=VARCHAR},
        admin_name = #{record.adminName,jdbcType=VARCHAR},
        admin_password = #{record.adminPassword,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause" />
        </if>
    </update>
</mapper>